/* Général */

.carte {
	background-image: url(fond.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width:  400px;
	height: 250px;
	color: #EDC280;	
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
}

/* Header */

	.header {
		width: 70%;
		margin-top: 10%;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 15px;
	}

/* Reseau */

	.reseau {
		width: 70%;
		margin-top: 5%;
		font-size: 12px;
	}